@model IEnumerable<MVC_Web_Application.Models.ExpenseCategory>
@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<div class="table-responsive-sm">
    <table class="table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    <span>
                        <a class="btn btn-primary" asp-action="" asp-controller="ExpenseCategory" asp-route-id=""><i class="bi bi-pencil"></i>Edit</a>
                        <a class="btn btn-danger" asp-action="" asp-controller="ExpenseCategory" asp-route-id=""><i class="bi bi-pencil"></i>Delete</a>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

