@model IEnumerable<MVC_Web_Application.Models.ExpenseCategory>
@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>
<a class="btn btn-success" asp-controller="ExpenseCategory" asp-action="AddExpenseCategory"><i class="bi bi-plus"></i>Add new category</a>
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <span>
                            <a class="btn btn-primary" asp-action="" asp-controller="ExpenseCategory" asp-route-id=""><i class="bi bi-pencil"></i>Edit</a>
                            <a class="btn btn-danger" asp-action="" asp-controller="ExpenseCategory" asp-route-id=""><i class="bi bi-pencil"></i>Delete</a>
                        </span>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <p class="text-danger">No records found!</p>
                    </td>
               </tr>
            }
        </tbody>
    </table>
</div>

